* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;

  font-size: 62.5%;
}

h2 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
}

p {
  text-align: center;
}
