.landing {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to top, #fffdfd00, #ffffffc2),
    url("/src/img/background.jpg");
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  width: 10vw;
  height: 10vh;
  position: absolute;
  top: 5%;
  opacity: 0.5;
}

.main-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.main-text h1 {
  font-weight: 200;
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.85);
}
