.widgets-container {
  /* background-color: rgba(189, 189, 189, 0.082); */
  width: 75vw;
  height: 75vh;
  margin: 0 auto auto auto;
  /*
  box-shadow: 0px 5px 10px rgb(20, 20, 20);
  backdrop-filter: blur(10px);
  */
  display: flex;
  flex-direction: column;
}

/**************************
Links
*************************** */

.links-container {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  grid-auto-rows: min-content;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.links-container * {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  width: 12.5vw;
}

.link-item {
  transition: all 0.25s;
}

.link-item:hover {
  /*background-color: rgba(0, 0, 0, 0.151); */
  backdrop-filter: blur(3px);
  box-shadow: 0px 5px 10px rgb(63, 63, 63);
  background-color: rgba(189, 189, 189, 0.082);
}

/*  bar style links
a[href^="http"] {
  display: flex !important;
  flex-direction: column;
  padding-left: 19px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left center;
  height: 44px;
  line-height: 44px;
} */

a[href^='http'],
.deletable {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.favicon {
  height: 100px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.addlink-container {
  width: 12.5vw;
  display: flex;
  justify-content: center;
}

/**************************
Reddit Content
*************************** */

.reddit-box {
  height: max-content;
}
