.widgets-container {
  background-color: rgba(189, 189, 189, 0.082);
  width: 75vw;
  height: 75vh;
  margin: 0 auto auto auto;
  box-shadow: 0px 5px 10px rgb(20, 20, 20);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

/**************************
Links
*************************** */

.links-container {
  /*background: linear-gradient(#e6646439, #9198e587);*/
  /* height: 46.4px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.links-container * {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.link-item {
  transition: all 0.25s;
}

.link-item:hover {
  background-color: rgba(0, 0, 0, 0.151);
}

/*  bar style links
a[href^="http"] {
  display: flex !important;
  flex-direction: column;
  padding-left: 19px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left center;
  height: 44px;
  line-height: 44px;
} */

a[href^="http"] {
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 200px;
}

.favicon {
  height: 100px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

/**************************
Reddit Content
*************************** */

.reddit-box {
  height: max-content;
}
